.header-area{
    display: flex;
    width: 100%;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: center;
    .header-components{
        display: flex;
        background-color: pink;
        width: 80%;
        display: flex ;
        align-items: center;
        justify-content: space-around;
        .navlist{
           .navlist-items{
            display: flex;
            gap: 30px;
           }
        }
    }
}